---
---

$linkedin: #0077b5;
$facebook: #3b5998;
$twitter: #55acee;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic,300,300italic);

// FONT

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.3px;
}

// GENERAL

.more-arrow {
    position: absolute;
    left: 50%;
    bottom: 40px;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    i {
        font-size: 48px;
        padding-bottom: 10px;
        -o-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    i:hover, i:active {
        padding-bottom: 0px;
    }
}

#home {
    height: 100vh;

    .parallax-title {

        top: 50%;

        img {
            width: 330px;
        }
    }
}

#about {

    .parallax-title {

        img {
            width: 230px;
        }
    }
}

#contact {

    .parallax-title {

        img {
            width: 260px;
        }
    }
}

.parallax-container {
    height: 300px;

    .parallax {

        img {
            min-width: 100%;
            width: 100%;
        }
    }

    .parallax-title {
        position: absolute;
        top: 70%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        img {
            width: 200px;
        }
    }
}

.container {

    margin-bottom: 0px;

    p {
        font-weight: 300;
        line-height: 1.6;

    }
}

.section {
    padding-top: 40px;
    padding-bottom: 40px
}

@media only screen and (min-width: 993px) {
    .container {
        width: 60%;
    }

    .section {
        padding-top: 80px;
        padding-bottom: 80px
    }
    
    #about {
        height: 500px;
    }
}

// WORK

.work-experience {

    .heading {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 10px;
        color: rgba(0,0,0,0.87);
        -o-transition: color .5s ease;
        -ms-transition: color .5s ease;
        -moz-transition: color .5s ease;
        -webkit-transition: color .5s ease;
        transition: color .5s ease;
    }

    a:hover .heading, a:active .heading {
        color: rgba(100,100,100,0.87);
    }

    .dates {
        margin-top: 5px;
        margin-bottom: 0px;
        font-weight: 400;
    }

    .title {
        margin-top: 0px;
        font-weight: 400;
    }
}

.work-experience-separator {
    height: 80px;

    .rule {
        height: 40px;
        width: 10%;
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }
}

@media only screen and (min-width: 993px) {
    .work-experience-separator {
        height: 160px;

        .rule {
            height: 80px;
        }
    }
}

@media only screen and (min-width: 601px) {
    .work-experience {
        .heading {
            font-size: 2rem;
        }
    }
}

// FULLSCREEN

.fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #9e9e9e;
    z-index: 1000;

    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;

        .title {
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 1050;

            img {
                width: 330px;
            }
        }

        .loading {
            text-align: center;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 1050;
            padding-top: 20px;

            .preloader-wrapper {

                .spinner-blue, .spinner-blue-only {
                    border-color: white;
                }
            }
        }
    }
}

.fullscreen-loading.success {
    z-index: 990;
}

// FONT

// FORM

.btn {
    box-shadow: none;
    border-radius: 0px;
    background-color: rgba(0,0,0,0.87);
}

.btn:hover, .btn:active {
    box-shadow: none;
    background-color: rgba(100,100,100,0.87);
}

.input-field .prefix.active {
    color: rgba(100,100,100,0.87);
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-color: rgba(100,100,100,0.87);
    box-shadow: 0 1px 0 0 rgba(100,100,100,0.87);
}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: rgba(100,100,100,0.87);
}

// FOOTER

footer.page-footer {
    background-color: rgba(0,0,0,0.95);
    text-align: center;

    .footer-copyright {
        background-color: black;
    }

    .blurb {

        a {
            -o-transition: color .5s ease;
            -ms-transition: color .5s ease;
            -moz-transition: color .5s ease;
            -webkit-transition: color .5s ease;
            transition: color .5s ease;
            color: white;
        }

        a:hover, a:active {
            color: rgba(100,100,100,0.87);
        }
    }

    .fa {
        -o-transition: color .5s ease;
        -ms-transition: color .5s ease;
        -moz-transition: color .5s ease;
        -webkit-transition: color .5s ease;
        transition: color .5s ease;
    }

    .fa-linkedin:hover, .fa-linkedin:active {
        color: $linkedin !important;
    }

    .fa-facebook:hover, .fa-facebook:active {
        color: $facebook !important;
    }

    .fa-twitter:hover, .fa-twitter:active {
        color: $linkedin !important;
    }
}

// BLOG

// FULLSCREEN WARNINGS

.fullscreen-warning {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: grey;
    z-index: 10000;
    text-align: center;
    padding: 20px;
}

.fullscreen-warning img {
    width: 40%;
    min-width: 250px;
    padding-top: 10%;
    padding-top: 20vh;
    padding-bottom: 20px;
}

#javascript-disabled {
    z-index: 1200;
}

.js #javascript-disabled {
    display: none;
}

#ie8 {
    display: none;
}
