<div id="javascript-disabled" class="fullscreen-warning">
    <h4 class="white-text"><b>YOUR BROWSER HAS JAVASCRIPT DISABLED</b></h4>
    <p class="flow-text white-text">Our site cannot be displayed. Please <a target="_blank" href="http://enable-javascript.com/">enable Javascript</a> and refresh the page.</p>
    <p class="flow-text white-text">Alternatively, if you need to get in touch, please <a href="mailto:admin@mevo.co.nz">send us an email</a> with your enquiry.</p>
</div>
<div id="ie8" class="fullscreen-warning">
    <h4 class="white-text"><b>YOUR BROWSER IS UNSUPPORTED</b></h4>
    <p class="flow-text white-text">Our site cannot be displayed. Please <a target="_blank" href="http://browsehappy.com/?locale=en">upgrade to a modern browser</a> and reload the page.</p>
    <p class="flow-text white-text">Alternatively, if you need to get in touch, please <a href="mailto:admin@mevo.co.nz">send us an email</a> with your enquiry.</p>
</div>