<div id="javascript-disabled" class="fullscreen fullscreen-warning">
    <div class="wrapper">
        <div class="title"><img src="/img/cover.png"></div>
        <div class="text">
            <h6 class="white-text"><b>YOUR BROWSER HAS JAVASCRIPT DISABLED</b></h6>
            <p class="white-text">The site cannot be displayed. Please <a target="_blank" href="http://enable-javascript.com/">enable Javascript</a> and refresh the page.</p>
            <p class="white-text">Alternatively, if you need to get in touch, please <a href="mailto:finn.lawrence@gmail.com">send an email</a> with your enquiry.</p>
        </div>
    </div>
</div>
<div id="ie8" class="fullscreen fullscreen-warning">
    <div class="wrapper">
        <div class="title"><img src="/img/cover.png"></div>
        <div class="text">
            <h6 class="white-text"><b>YOUR BROWSER IS UNSUPPORTED</b></h6>
            <p class="white-text">The site cannot be displayed. Please <a target="_blank" href="http://browsehappy.com/?locale=en">upgrade to a modern browser</a> and reload the page.</p>
            <p class="white-text">Alternatively, if you need to get in touch, please <a href="mailto:finn.lawrence@gmail.com">send an email</a> with your enquiry.</p>
        </div>
    </div>
</div>