<div class="fullscreen fullscreen-loading">
    <div class="wrapper">
        <div class="title"><img src="/img/cover.png"></div>
        <div class="loading">
            <div class="preloader-wrapper active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).load(function() {
        $('.fullscreen-loading').fadeOut(500);
    });
</script>